body{
    background-color: #f47f2096;
}

.conteneur-formulaire{
    border: 2px solid black;
    background-color: white;
    /* background-color: antiquewhite; */;
}

.connexion-img {
    width: 30%;
}

.alligner-adroit{
    display: flex;
    justify-content: flex-end;
}