.cefp-form{
    background-color: #f47f2096;
}

.conteneur-formulaire{
    border: 2px solid black;
    background-color: white;
    /* background-color: antiquewhite; */;
}

.connexion-img {
    width: 30%;
}

.alligner-adroit{
    display: flex;
    justify-content: flex-end;
}


.navbar-brand img{
    width: 30%;
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}
    

.cefp-number{
    font-size: 2.5rem;
    font-weight: 500;
    border: 2px black solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.cefp-list-add-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
